$main: #6d1ed2;
$main-dark: #330065;
$black: #000;
$gray: #7f90c0;
$gray2: #9C99A5;
$white: #fff;
$main-font: "Manrope";
$main-bg: #020125;
$main-bg2: #00031D;
$header-bg: #010525;
$gradient-btn: linear-gradient(240.51deg, #0054f7 0%, #ff00e5 100%);

